@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

/* font-family: 'Indie Flower', cursive; */

body {
  font-family: "Indie Flower", cursive;
  background-color: #f2ed6f;
  margin-bottom: 350px;
}

header {
  text-align: center;
}

h1 {
  font-size: 60px;
}

#subtitle {
  font-size: 40px;
}

#attempt-counter {
  font-size: 25px;
  font-weight: bold;
  border: 3px ridge #587792;
  /* width: 200px; */
}

#image-div {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
  column-gap: 25px;
  row-gap: 25px;
}

img {
  width: 220px;
  height: 200px;
  border-radius: 5px;
  background-color: #cee397;
}

img:hover {
  background-color: #8db1ab;
  transition: 0.3s;
  cursor: pointer;
}
